<script>
    let int_var
    let str_var
    let optional_var
    async function post(){
        const myHeaders = new Headers();
        myHeaders.append("Origin", "");
        myHeaders.append("accept", 'application/json');
        myHeaders.append("Content-Type", 'application/json');
        await fetch("http://127.0.0.1:8000/something/post",
            {
                headers: myHeaders,
                method: "POST",
                body: JSON.stringify(
                    {
                        "int_var": int_var,
                        "str_var": str_var,
                        "optional_var": optional_var
                    }
                )
            }
        ).catch(err => console.log(err))
    }
</script>

<p>When you post the data will be printed in the backend</p>
<p>Int</p>
<input type="text" bind:value={int_var}>

<p>Str</p>
<input type="text" bind:value={str_var}>

<p>Optional</p>
<input type="text" bind:value={optional_var}>

<button on:click={post}>Post</button>