<script>

    let no_var = ""
    let with_var = ""
    let get_var = ""

    async function get_no_var(){
        await fetch("http://127.0.0.1:8000/get_something").then(res => res.text()).then(data => no_var = data) // we can change text() to json() for json
    }

    async function get_with_var(){
        await fetch(`http://127.0.0.1:8000/something/${get_var}`).then(res => res.text()).then(data => with_var = data) // we can change text() to json() for json
    }
</script>
<button on:click={get_no_var}>Get with no Var</button>
<p>No Var response: {no_var} </p>

<input type="text" bind:value={get_var}>
<button on:click={get_with_var}>Get with var</button>
<p>With Var response: {with_var}</p>